<?xml version="1.0" ?>
<Database xmlns="http://datadirect.com/cloud/config" version="2">
	<User name="HAN_INTG_USER" defaultSchema="ORACLESALESCLOUD">
		<UseSchema name="ORACLESALESCLOUD"/>
		<UseSchema name="PUBLIC"/>
	</User>
	<Map name="ORACLESALESCLOUD" type="OracleSalesCloud">
		<ConfigOptions>UPPERCASEIDENTIFIERS=1;LOCALTABLES=0;KEYWORDCONFLICTSUFFIX=;DELETEDROWSBEHAVIOR=exclude;MAPSYSTEMCOLUMNNAMES=0;USEINTEGRATIONNAMES=0;PERSISTMETAMAP=0;SHOWINTERNALTABLES=0;APIVERSION=latest;ENABLEDMODULES=salesApi,crmCommonApi;OBJECTDISCOVERYLEVEL=0</ConfigOptions>
		<SessionOptions>DATABASENAME=TESTING;USER=HAN_INTG_USER;SCHEMAMAP=</SessionOptions>
	</Map>
</Database>